*{
 margin: 0;
 text-transform: capitalize;
}
body{
 background: rgb(249, 245, 245);
}
.hero{
 height: 100vh;
 /* width: 70vw;
 margin: 0 auto; */
 background: url(./images/donation6.jpg) center/cover no-repeat;
 margin-bottom: 2rem;
 border-radius: 3px;
 position: relative;
}
.hero-container{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background: rgba(0, 0, 0, 0.6);
 border-radius: 3px;
 align-items: center;
 display: flex;
 justify-content: center;
}
.hero-text{
 color: rgb(251, 245, 245);
 text-transform: capitalize;
 text-align: center;
 font-size: 25px;
 height: 320px;
 width: 500px;
}
.hero-text p{
 color: rgb(222, 210, 210);
}
.hero-btn{
 background: red;
 padding: 10px 20px;
 margin: 20px;
 border: transparent;
 border-radius: 3px;
 color: white;
}


.about-today{
 margin: 0 auto;
 /* height:50vh ; */
text-align: center; 
}
.donate-text{
 padding: 20px;
}
#another-text{
 color: gray;
 padding: 20px;
}
.donate-text{
 
 
}
.amount{
 display: inline-block;
margin: 30px;
padding: 20px;
border-radius: 2px;
background: rgb(241, 236, 236);
}
.amount:hover{
 border: 1px solid blue;
}
#pink{
 background: pink;
}
.bottom{
 border-bottom:1px solid gray ;
 width: 50%;
 margin: 0 auto;
}
.about-today h1{
 color: black;
 text-transform: uppercase;
}
 .today-donate-btn{
text-align: center;
margin-top:10px;
}
.donate-btn{
 padding: 10px 20px;
 background-color:red ;
 color: white;
 border-radius: 3px;
 border: transparent;
}
/* plan */
.about-plan{
 text-decoration: none;
}
.plan{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0 auto;
 text-decoration: none;
 color: black;
 width: 90vw;
}
.plan-text{
 text-align: center;
 padding: 20px;
 /* width: 50%; */
 margin: 0 auto;
}
.plan-family{
 display: flex;
 width:90vw;
}
.family1{
 margin-left: 50px;
 background: red;
 padding: 10px;
 border-radius: 5px;
 
}
#one{
 background: rgb(186, 214, 224);
}
#two{
 background: rgb(226, 202, 206);
}
#three{
 background: rgb(208, 176, 117);
}
/* update section */
.update{
 display: flex;
 flex-direction: column;
 text-align: center;
 margin: 5rem auto;
width: 700px;
} a
.update-text{
 

}
.update-btn{
height: 4rem;
width: 700px;
margin: 40px auto;
padding-top: 50px;
background: rgb(235, 201, 207);
border-radius: 5px;
font-size: 0;
}
.email-gray{
 /* background-color: rgb(112, 106, 106); */
 color: black;
  border: transparent;
  padding:10px 20px ;
  border-radius: 3px;
   margin-left: 0;

}
.submit-btn{
 margin-left: 0;
 background: red;
 border: transparent;
 border-radius: 3px;
 padding: 10px 20px;
}
